/* JQUERY*/
.tab2style p {
font-style: italic;
margin: 0 auto ;
position: relative;
z-index: 9;
line-height:0.5;
left: -10%;
margin-left: 60px;
}
.tab2style p span{
font-size: 13px;
line-height:0.5;
}
.tab2style:before {
display: block;
content: " ";
width: 199px;
height: 50px;
top: -3px;
background-color: #FFF;
position: absolute;
transform: skewX(155deg);
-ms-transform: skewX(155deg);
-webkit-transform: skewX(155deg);
border: none;
z-index: 9;
/*box-shadow: inset 4px 4px 8px -4px rgba(0, 0, 0, 0.5);*/
border-width: 3px;
border-style: solid;
-webkit-border-image:
-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0))) 1 100%;
-webkit-border-image:
-webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 1 100%;
-moz-border-image:
-moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 1 100%;
-o-border-image:
-o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 1 100%;
border-image:
linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 1 100%;
border-left: none;
}
.tab2style:after {
display: block;
content: " ";
width: 205px;
height: 50px;
top: -3px;
background-color: #FFF;
position: absolute;
left: 78px;
transform: skewX(25deg);
-ms-transform: skewX(25deg);
-webkit-transform: skewX(25deg);
/*   border: none;
z-index: 7;
/* box-shadow: inset 4px 4px 8px -4px rgba(0, 0, 0, 0.5);
border-width: 3px;
border-style: none!important;
-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0))) 1 100%;
-webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 1 100%;
-moz-border-image: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 1 100%;
-o-border-image: -o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 1 100%;
border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)) 1 100%;
border-right: none;*/}
*{
font-family: 'Roboto', sans-serif;
}
.social{margin-top:25px;}
.social-inner{float: right;}
.payments{width:100%; margin-top:30px;}
#content > div > div > div > div > div.col-md-5 > div > div > ul,
#content > div > div > div > div.row.ss > div > div > ul,
#content > div > div > div > div > div.col-lg-5.col-md-9.col-sm-8.opis-mobile.ss > div > div > ul {display:none} /* produkt opis*/
#content > nav{ display:none;} /* breadcrumb na stronie sklep*/
a:hover{text-decoration:none!important; opacity: 0.5;}
#content > ul > li.post-47.product.type-product.status-publish.has-post-thumbnail.instock.shipping-taxable.purchasable.product-type-simple > a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
#content > ul > li.post-48.product.type-product.status-publish.has-post-thumbnail.instock.shipping-taxable.purchasable.product-type-simple > a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
#content > ul > li.post-52.product.type-product.status-publish.has-post-thumbnail.instock.shipping-taxable.purchasable.product-type-simple > a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
background: #0ff;
width: 400px;
font-size: 18px;
display: block;
width: 50%;
text-align: center;
margin: 10px auto;
color: #0a213d;
padding:10px;
}
.caption48{
padding: 15px;
text-align: justify;
letter-spacing: 0.4px;
box-shadow: 0px 1px 1px 1px #0000001a;
margin-top: 10px;
box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
#content > div > div > div > div.row.ss > div > img{display:none;}
#content > div > div > div > div > div.col-lg-4.col-md-9.col-sm-8.opis-mobile.ss > div > div > ul {display:none;}
div.row:nth-child(2) > div:nth-child(1) > div:nth-child(2) {color: #333;}
div.col-xs-6:nth-child(n) > p:nth-child(n) > span { float:right;}
#content > ul > li.post-52.product.type-product.status-publish.has-post-thumbnail.first.instock.shipping-taxable.purchasable.product-type-simple > a.woocommerce-LoopProduct-link > span > span,
#content > ul > li.post-48.product.type-product.status-publish.has-post-thumbnail.instock.shipping-taxable.purchasable.product-type-simple > a.woocommerce-LoopProduct-link > span > span,
#content > ul > li.post-47.product.type-product.status-publish.has-post-thumbnail.instock.shipping-taxable.purchasable.product-type-simple > a.woocommerce-LoopProduct-link > span > span{
font-size: 20px;
color:#0a213d;
}
.cart-contents:hover,
.cart-contents:focus,
.cart-contents:activ{background-color: #fff; opacity: 0.2; color: #000; text-decoration:none;}
#menu-koszyk > li  {font-family: Roboto;color: #00f0ff;font-size: 16px;font-weight: 700;font-style: italic;line-height: 30px;text-align: left;border: 2px solid;border-radius: 5px;padding: 10px; display: inline-block; margin-bottom:10px;}
#menu-koszyk > li > a {color:#333;}
#menu-koszyk{     width: auto;
list-style: none;
float: right;
font-size: 18px;
margin-top: -20px;}
#s1 > div > div > div > ol{color:#333;  line-height:30px; text-align: justify;}
.content_p > h2:nth-child(1){color:#333!important;}
.content_p{ color:#333!important; margin: 20px auto;}
.content_p p {color:#333!important;}
#s1 > div > div > div > ol > li:nth-child(n){margin-bottom:15px;}
.w100{display:block;}
.center{text-align: center;}
.mw{ max-width: 100%;}
.show_h{display:block;}
.hide_s{display:none;}
/* BS*/
.container-fluid{padding-left:0;}
.container{padding-left:30px; }
#content404{color: #333; font-family: 'arial', sans-serif;}
#menu-menu{
color: #fff;
min-width: 250px;
}
.nav > li > a {
color:#fefefe;
font-size: 16px;/* Approximation due to font substitution */
font-weight: 700;
font-style: italic;
line-height: 30px;/* Approximation due to font substitution */
text-align: left;
padding-right: 15px;
padding-left:15px;
margin-left: 10px;
margin-right: 10px;
text-transform:uppercase;
border: 1px solid transparent;
}
.nav > li > a:focus {background: transparent;}
.nav > li > a:hover {background-color: #fff; /*opacity: 0.2; */ color: #000!important;     border: 1px solid transparent;
border-radius: 5px;}
.navbar-toggle{ background-color: #fff;}
.navbar-toggle .icon-bar{ background-color: #0b5387;}
.menu{width:20%;}
#menu-item-56 > a:nth-child(1){
font-family: Roboto;
color: #ffc382;
font-size: 16px;
font-weight: 700;
font-style: italic;
line-height: 30px;
text-align: left;
border: 2px solid;
border-radius: 5px;
padding: 10px 25px;
}
/* Header
------------------------------------------------------------------------------*/
.logo-menu{ margin-left: 0;}
.h600 {height: 600px;}
.h600a {height: 700px; margin-bottom:55px;}
.trans {transition: 1s;}
/* #s1 > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > img:nth-child(1){
position: absolute;
z-index: 2;
margin-left: -130px;
} */
.bg1{
background: url('img/bg1.jpg') no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 1;
width: 100%;
margin-top: 0;
height:auto;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
}
#s1 p {
color:#fff;
text-align: center;
}
#s1 p.caption{;font-family: Roboto; color:#fefefe; font-size: 56.77px;font-weight: 300;font-style: italic;line-height: 30px; margin-bottom:30px;   font-size: 32px;}
.button2 {
border-radius: 3px;
width: 366px;
border: 1px solid transparent;
}
.button{
width: 223px;
border: 1px solid transparent;
border-radius: 5px;
}
#s1 button,
#s2 button,
#s8 button{
background-color: #ff9e25;
height: 73px;
font-family: Roboto;
color: #fff;
font-size: 33.73px;/* Przybliżenie (wynika z podstawienia czcionki) */
font-weight: 700;
line-height: 30px;/* Przybliżenie (wynika z podstawienia czcionki) */
text-align: center;
transform: scaleX(1.0066);/* właściwości width (szerokość) i height (wysokość) pominięte w wyniku transformacji */
}
.mw1{max-width: 100%; position: absolute;
bottom: 0px;
left: 17%;
z-index: 1;}
.mw1a, .mw2a{
position: absolute;
z-index: 2;
left: 15px;
display:block !important;
}
.mw2a{margin-top:15px; margin-left:10px;}
.mw3a{
position: absolute;
z-index: 2;
left: -70px;
}
.mw2{
max-width: 100%;
position: absolute;
bottom: 0px;
left: 23%;
z-index: 1;
font-size: 36px!important;
font-weight: 700;
}
/*.mw2a{max-width: 100%;
position: absolute;
left: 11.5%;
z-index: 2;
}*/
.mw3{max-width: 100%; position: absolute;
bottom: 25px;
right: 12%;
z-index: 1;}
/*.mw3a{max-width: 100%; position: absolute;
left:5%;
z-index: 2;
margin-top:15px;}
*/
.btn-body {position: absolute;
bottom: 50px;
right: 2%;
box-shadow: 0px -70px 210px 57px rgb(0, 0, 0);
z-index: 1;
border: 1px solid transparent;
}
.btn-pack{position: absolute; bottom: 80px ;left: 18.5%; box-shadow: 0px -39px 210px 57px rgb(0, 0, 0); border-radius:5px; padding: 0 30px;     border: 1px solid transparent;
}
.btn-brain{position: absolute;
bottom: 62px;
left: -2%;
box-shadow: 0px -39px 210px 57px rgb(0, 0, 0);
border: 1px solid transparent;
z-index: 1;}
/* #s1 > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > img:nth-child(3){
position: absolute;
bottom: -520px;
left: -25px;
} */
/* S2
-----------------------------------------------------------------------------*/
.bg2{
background: url(img/belka.png) no-repeat center top;
background-size:contain;;
background-color: transparent;
z-index: 2;
position: absolute;
width: 100%;
margin-top: -25px;
}
.logo-s2{
margin-top:54px;
margin-left: -10px;
}
#s2 p{margin-top:50px;}
#s2 p.caption4{
font-family: Roboto;
color:#333333;
font-size: 30px;
font-weight: 900;
font-style: italic;
line-height: 22px;
text-align: center;
margin-top:-23px;
}
#s2 p.caption3{font-family: Roboto;color:#ef6800;
font-size: 36px;/* Approximation due to font substitution */
font-weight: 900;
font-style: italic;
line-height: 22px;/* Approximation due to font substitution */
text-align: center;
letter-spacing: 0px;
margin-top:40px;}
#s2 p.caption2{/* Inline Style */
font-family: Roboto;
color:#333333;
font-size: 16px;
font-weight: 300;
font-style: italic;
line-height: 30px;
text-align: center;}
#s2 p.caption{margin-top:95px; font-family: Roboto;
color:#333333;
font-size: 30px;
font-weight: 900;
line-height: 35px;
font-style: italic;}
#s2 .center, #s5 .center, #s8 .center{ text-align: center;}
#s2 > div > div > div > div.col-md-12.col-sm-12.col-xs-6.center.w100 {margin-top:-12px;}
/* S3
------------------------------------------------------------------------------*/
.bg3{
background: url(img/bg-body.png) no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 3;
position: absolute;
width: 100%;
margin-top: 680px;
/*height: auto;*/
height: 487px;
}
#s3 { color:#f0f0f0;
margin-top: -450px;}
#s3 .body{margin: 25px auto; height: 429px;}
#s3 p {
margin: 0px 0px 25px;
font-size:16px;
padding-left: 44px;
color: #000;
}
#s3 .logo { margin-top: 50px;}
/* S4
------------------------------------------------------------------------------*/
#s4 .logo { margin-top: 50px; float:right;  }
#s4 .body {margin-top: -125px; margin-left:-40px; height: 429px;}
#s4 p {text-align: left; margin: 0px 0px 25px;     padding-left: 44px;}
.bg4{
background: url(img/bg-brain.png) no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 4;
position: absolute;
width: 100%;
margin-top:1142px;
height:455px;
}
/* S5
------------------------------------------------------------------------------*/
.bg5{ margin-top:1573px;}
#s5 .check{
z-index: 5;
position: absolute;
left: 50%;
margin-left: -62.5px;
}
#s5 p {
margin-top: 40px;
text-align: left;
}
#s5 p.caption1{/* Inline Style */
font-family: Roboto;
color:
#333333;
font-size: 36px;/* Approximation due to font substitution */
font-weight: 900;
padding-top: 100px;
font-style: italic;
line-height: 30px;/* Approximation due to font substitution */
text-align: center;}
#s5 p.caption2{font-family: Roboto;
color: #333333;
font-size: 18px; /* Approximation due to font substitution */
font-weight: 300;
font-style: italic;
line-height: 30px; /* Approximation due to font substitution */
text-align: center;
margin-top: 30px;}
/* S6
------------------------------------------------------------------------------*/
#s6 .bg6{
background: url(img/bg1.jpg) no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 6;
position: absolute;
width: 100%;
margin-top: 27px;
height:auto;
}
#s6 p.margin{margin: -12px 50px 53px 50px; font-size: 18px;
font-weight: 300;
font-style:italic;}
#s6 p.caption1{
font-family: Roboto;
color: #fefefe;
font-size: 36px; /* Approximation due to font substitution */
font-weight: 900;
font-style: italic;
line-height: 30px; /* Approximation due to font substitution */
text-align: center;
margin-top:10px;
margin-left:-150px;
}
#s6 p.caption2{
text-align: center;
margin-top: 16px;
font-size: 18px;
font-weight: 300;
font-style:italic;
margin-bottom: -12px;
margin-left:  15px;
margin-right:15px;
}
#s6 .center{
vertical-align: middle;
text-align: center;
margin:     margin: 30px auto 30px;
}
/* #link-dla-kogo > div > div{
margin: 0 auto!important;
padding: 0;
} */
#s6 .box {
width: 266px;
height: 265px;
border: 2px dashed  #00f0ff;
padding:5px;
margin: 16px 8px;
display: inline-block;
float:none!important;
}
#s6 .dlakogo{
max-width: 100%;
}
#s6 .fs{ font-size: 16px; font-weight:300; font-style:italic;}
#link-dla-kogo > div > div > div:nth-child(2){padding-top: 22px;}
#link-dla-kogo > div > div > div:nth-child(3){padding: 0 49px; margin-top: 70px;}
/*S7*/
.bg7 {
background: url(img/bg-body.png) no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 7;
position: absolute;
width: 100%;
margin-top: 980px;
height: auto;
background-attachment: scroll;
}
.bg7-p {
	font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    padding-right: 10px;
}
.znak{
margin-left:60px; margin-top: -40px;
}
#s7 .check{
width: 134px;
height: auto;
}
#s7 .opinie {
border-bottom: 2px solid #ED5D04;
padding:20px;
font-size:16px;
}
#s7 .caption {
text-align: justify;
font-family: Roboto;
color:
#333333;
font-size: 18px;/* Approximation due to font substitution
font-weight: 300; */
font-style: italic;
line-height: 24px;/* Approximation due to font substitution */
}
#s7 strong{text-align: left;}
.foto{/*max-width:100%;*/ max-width:160px;}
/* S8
------------------------------------------------------------------------------*/
#s8 button{
margin-top:20px;
}
.bg8{
margin-top: 1770px;
position: absolute;
z-index: 10;
height: auto;
background-size: cover;
background-color: transparent;
position: absolute;
width: 100%;
height: auto;
background-attachment: scroll;
}
#s8 .caption1{
font-family: Roboto;
color: #ef6800;
font-size: 36px; /* Approximation due to font substitution */
font-weight: 900;
font-style: italic;
line-height: 22px; /* Approximation due to font substitution */
text-align: center;
font-family: Roboto;
}
#s8 .caption2{
margin-top:23px;
font-family: Roboto;
color:
#333333;
font-size: 30px;/* Approximation due to font substitution */
font-weight: 900;
font-style: italic;
line-height: 22px;/* Approximation due to font substitution */
text-align: center;
}
/* Footer
------------------------------------------------------------------------------*/
#s9 p span { font-size: 11px; text-align: center; display: block; margin-top:20px;}
#s9 > div > div > div > div > div.row > div > p::before{content:"";}
#s9 .center{ text-align: center;}
#s9 .left{ text-align: left;}
#s9 .right{ text-align: right;;}
#s9 .fright{ float:right;}
#s9 { color: #fff;}
#s9 a{ color: #fff;}
#s9 p.lh{float: right; text-align: right; margin-top: 30px; margin-right: 10px;}
#s9 p.lh::before{content: "";}
#s9 > div > div > div > div > div.col-sm-2.center {margin-top:15px;}
#s9 > div > div > div > div > div.col-xs-12 > p::before{
content: "";
}
.bg-footer{
background: url(img/bg-stopka.jpg) no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 13;
position: absolute;
width: 100%;
margin-top:2115px;
height:auto;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
}
.bg-footer2{
background: url(img/bg-stopka.jpg) no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 13;
position: absolute;
width: 100%;
height:auto;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
}
.txt  { color: #fff;
font-size:18px;
text-align: justify;}
h2 {text-align: center;}
/* Woocommarce*/
/*logo*/
body > header > div > div > div > div.col-xs-3 > div > div > a > img{margin-bottom:15px;}
.bg-sklep{
background: url('img/bg1.jpg') no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 1;
width: 100%;
margin-top: 0;
height:710px;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
}
#content > h1 {margin-bottom: 25px;    color: #333;}
#sidebar{display: none!important;}
#container{ width:100%;
background: url('http://power.projektycombo.pl/wp-content/themes/power/img/bg-produkt.jpg') no-repeat center;
background-size: cover;
height: auto;
margin-top:-100px;
padding-top:100px;
text-align: center;
}
#s1 > div > div > div > div > form > table > tbody > tr.cart_item > td.product-quantity > div {border: 1px solid e4e4e4;}
.column{       column-count: 2;
column-gap: 30px;
margin-bottom: 20px;
text-align: justify;}
#product-52 > div.summary.entry-summary > div:nth-child(2) > p > span,
#product-47 > div.summary.entry-summary > div:nth-child(2) > p > span,
#product-48 > div.summary.entry-summary > div:nth-child(2) > p > span{
font-size: 26px;
font-weight: 900;
color: #f00001;
}
#content{    z-index: 19; /*text-align: center;*/  color:#fff; margin-bottom:40px;}
#content > ul > li{float: left; list-style: none; width:33%; margin: auto;}
#content > form {display: none;}
.panel{    background: transparent;    border: none;}
#content > a {color: #fff;}
#product-48 > div.images > a > img,
#product-47 > div.images > a > img,
#product-52 > div.images > a > img {
width:auto; height:400px;margin-top: 8px;
}
.bg-h3{
background: url('img/bg1.jpg') no-repeat center;
background-size: cover;
background-color: transparent;
z-index: 1;
width: 100%;
margin-top: 0;
min-height: 600px;
height:auto;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
}
11 {
display: inline-block!important;
float: left;
color: #5f5f5f;
background: transparent;
width: 1200px;
text-align:left;
-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.00);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.00);
margin-top: 15px;
padding: 10px;
}
#tab-description > h2{text-align: left;}
#tab-description > h2:nth-child(1){ text-align:left;}
.summary{text-align:left; color:#5f5f5f;     margin-bottom: 20px;}
div.images {
float: left;
width: 33%;
DISPLAY: inline-block;
}
#content1 > div > div > div:nth-child(n) p{
margin: 0 0 20px 35px;}
.quantity {color:#333;}
.iconcart{
margin-left: 5px;
margin-top: -10px;
}
.single_add_to_cart_button{
color: #333;
background-color: #00f0ff;
font-family: Roboto;
color: #0a213d;
font-size: 13.73px;
font-weight: 700;
line-height: 23px;
text-align: center;
transform: scaleX(1.0066);
margin-top: 10px;
text-align: center;
width:100%;
padding: 15px;
font-size: 16px;
font-weight: 600;
}
.woocommerce-breadcrumb{margin:20px auto;}
.powrot{
color: rgb(254, 254, 254);
font-size: 18px;
padding-top: 12.5px;
display: block;
}
#s1 > div > div > div > div > div.cart-collaterals > div > table > tbody > tr.cart-subtotal > td,
#s1 > div > div > div > div > div > div > table > tbody > tr.order-total > td > strong > span,
th, .product-name a,
tr.cart_item:nth-child(n) > td:nth-child(n),
#s1 > div > div > div > h2,
#s1 > div > div > div > div > div > div > h2{color: #333;}
.product-name a{ font-size: 20px;}
#payment{ background: transparent!important;}
#s1 > div > div > div > div > div > div > div > a{margin-bottom: 20px;}
#product-48 > div.woocommerce-tabs.wc-tabs-wrapper > ul > li.description_tab.active{ list-style: none; display:none;}
#s1 > div > div > div > div > nav > ul {width:100%;}
#s1 > div > div > div > div > nav > ul > li{float: left;margin: 10px;list-style: none; WIDTH: 14%;font-size: 18px;font-weight: 600;text-align: center; display:block;}
#s1 > div > div > div > div > nav > ul > li > a {color: #333;}
#s1 > div > div > div > div > nav {display:flex;}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{color:#333;}
.woocommerce table.shop_table,
#s1 > div > div > div > div > header:nth-child(7) > h2,
#s1 > div > div > div > div > h2,
#s1 > div > div > div > div > address,
#s1 > div > div > div > div > header.title > h3,
.woocommerce .order_details,
#customer_details > div.col-1 > div > h3,
#customer_details > div.col-2 > div > h3,
#order_review_heading,
#payment > ul {
color: #333;
}
#product-48 > div.summary.entry-summary > form > div > input,
#product-47 > div.summary.entry-summary > form > div > input,
#product-52 > div.summary.entry-summary > form > div > input{
font-family: inherit;
font-size: 18px;
line-height: inherit;
text-align: center;
width: auto;
padding: 10px;
}
#product-52 > div.woocommerce-tabs.wc-tabs-wrapper > ul > li,
#product-48 > div.woocommerce-tabs.wc-tabs-wrapper > ul > li,
#product-47 > div.woocommerce-tabs.wc-tabs-wrapper > ul > li{
display:block;}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{padding: 10px;}
h3, .h3{text-transform:uppercase; color: #333;}
/* ROBOCZO !! */
/* Media START */
/* Media 1300
______________________________________________________________________________*/
@media (max-width: 1300px) {
.znak{margin-left:60px; margin-top: -20px;}
}
/*_______________________________END____________________________________________*/
/* Media 1250
______________________________________________________________________________*/
@media (max-width: 1250px) {
.znak{margin-left:35px; margin-top: 10px;}
}
/*_______________________________END____________________________________________*/
@media (max-width: 1199px) {
#s7 .caption {font-size: 12px;}
.logo-menu{ margin-left: -40px;}
.bg7{ background: url(img/bg-opinie-mobile.jpg) no-repeat center;background-size: cover!important; height: auto; margin-top:1334px;}
.nav > li > a {padding-right: 10px;}
.bg8 {margin-top:2119px;}
.bg-footer{margin-top: 2329px;}
#s3 .logo{ margin-left: -70px;}
.mw1a, .mw2a{    left: -30px;}
/* BS Collapse*/
.navbar-header {float: none;}
.navbar-left,.navbar-right {float: none !important;}
.navbar-toggle {display: block;}
.navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
.navbar-fixed-top {top: 0;border-width: 0 0 1px;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {float: none!important;margin-top: 7.5px;}
.navbar-nav>li {float: none;}
.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
.collapse.in{display:block !important;}
/*DROPDOWN MENU STYLE*/
.navbar-nav{float: none!important;position: absolute;margin-top: 7.5px;background: #ef6800; height: 300px; width: 100%;z-index: 999; /*border: 3px solid #fefefe; */border-radius: 5px; }
#s6 .bg6{ background: url(img/bg1.jpg) no-repeat center!important; background-size: cover!important; height: auto;}
#s6 p.caption1#s6 p.caption1 {margin-top: 45px;}
#s4 .logo {margin-right: -30px;}
#s1 .button { width: auto;     left: -30px;}
#s1 .button.check-out-button {left: 0;}
#s1 > div > div:nth-child(2) > div:nth-child(3) > a > button { margin-left: 59px;}
#s1 > div > div:nth-child(2) > div.col-sm-6.h600a > a > button{margin-left: -21px;}
#s1 > div > div:nth-child(2) > div:nth-child(1) > a > button { left: 56px;}
.mw3 {right: 9%;}
.mw2 {left: 16%;}
.mw1 {left: 7%}
}
@media (max-width: 1100px) {
.logo-menu{margin-left: -25px;}
.mw1a{max-width:253px; left:2px;}
.mw2a{max-width:400px; left:45px;}
.mw3a{max-width:253px; left:-32px; top:25px;}
.h600{height:500px;}
.h600a{height:590px;}
#s3 .logo{ max-width: 100px; margin-left: -20px;}
#s4 .logo{ max-width: 100px; margin-right: -20px;}
#s6 p.caption1{    margin-top: 25px; text-align: center;margin-left: 20px;}
/* #s6 .caption2{margin-right:-155px !important;} */
#link-dla-kogo > div > div{ padding: 0 15px!important;}
.btn-pack{margin-left:-30px;}
}/* WTF 1100 WCZYTUJE JAK WSKOCZY 991 o.O'  */
/* Media 991
______________________________________________________________________________*/
@media(max-width:991px){
.logo-menu{margin-left: 0px;}
.znak{display:none;}
.bg1, .bg2, .bg3, .bg4, .bg4, .bg6, .bg7{position:relative!important; margin-top:0!important;}
.bg1{ background: url(img/bg1.jpg) no-repeat center;background-size: cover!important; height: auto;}
.bg2{ background:none;}
.bg4{ background: url(img/bg-brain-mobile.jpg) no-repeat center;background-size: cover!important; height: auto;}
.bg5{position:relative!important; margin-top:20px!important; margin-bottom:20px;}
.bg8{position:relative!important; margin-top:20px!important;}
.bg-footer{margin-top:0;}
.logo-s2 {margin-top: 54px; margin-left: -60px;}
.foto{width: 165px;}
#s2 button, #s8 button{margin-bottom:20px;}
#s3 .body{    max-width: 130px; height:auto;     margin-top: 0px;}
#s4 .body{ max-width: 130px; height:auto;     margin-top: 0px;}
#s4 .logo{ float:left;}
.btn-pack{ left:27%; bottom:140px; width:240px; margin-left:10px; }
.mw2{left:11%; margin-top: 0;}
.mw3{left: -10%;bottom: 60px;}
.bg7{margin-top:1105px;}
#s6 p.margin{margin: 20px 0  20px 0;}
#s3 .logo{ float:right;}
#s6 p.caption1 {margin-top: 0px;text-align: center;margin-left: 20px; }
#s6 .caption2{margin-right:15px !important;}
.mw1a{max-width: 221px; left: 22px;}
.mw2a{max-width: 350px; left: 15px;}
.mw3a{max-width: 221px;left: -42px;top: 25px; }
.btn-body{bottom:100px; right:-8%;}
.btn-brain{    left: 0%;    bottom: 90px;}
.mw1{bottom:60px;     left: 22%;}
div.images,#tab-description{width:100%; float:none;}
.summary {text-align: center;}
#content > ul {padding-left: 0;}
#content > ul > li {float:none; width:100%; margin: 15px auto;}
#content > ul > li > a >img {max-width:100%; height:auto;}
#s1 > div > div:nth-child(2) > div:nth-child(1) > a > button{left: 62px;}
#s1 > div > div:nth-child(2) > div:nth-child(3) > a > button{margin-left:29px;}
#s6 p.margin{ margin-top:-50px;}
}
@media(max-width:767px){
#menu-menu{position: absolute;transform: translateX(-70%)!important;left: 50%!important;}
#s9 .left{ text-align: center; margin-bottom: 10px;}
#s9 .fright{ float:none;}
#s9 .right{text-align: center;}
#s9 p.lh{float: left; display: none;}
#s4 .logo{ float:right;}
.logo-s2 {margin-top: 54px; margin-left: 0px;margin-bottom: 30px;}
.mw1, .mw2,.mw3, .btn-body, .btn-pack,.btn-brain  {position: absolute;transform: translateX(-50%)!important;left: 51.4%!important;}
.mw1a{position: absolute;transform: translateX(-50%)!important;left: 51.6%!important;}
.mw2a{position: absolute;transform: translateX(-50%)!important;left: 49.6%!important;}
.mw3a{position: absolute;transform: translateX(-50%)!important;left: 50.9%!important;}
#s3 .body, #s4 .body{   max-width: 100px;height: auto;margin-top: 60px;}
#s1 p.caption { line-height: 60px;}
#s1 > div > div:nth-child(2) > div.col-sm-6.h600a > a > button{margin-left:0px;}
#s1 > div > div:nth-child(2) > div:nth-child(3) > a > button{margin-left: 0;}
#s2 > div > div > div > div:nth-child(4){display:none;}
#s2 p.caption3{ margin-top:70px;}
}
@media(max-width:610px){
#menu-menu{transform: translateX(-75%)!important;}
.w100{width:100%;text-align:center;}
#s2 p.caption3{ margin-top:0px;
line-height: 35px;}
}
@media (max-width:490px){
#menu-menu{transform: translateX(-80%)!important;}
#tab-description > p:nth-child(n) > span:nth-child(n){float:none;}
}
@media (max-width: 440px){
#s3 .body, #s4 .body{display:none;}
#link-brain > div > div > div:nth-child(2) > div.col-xs-8,#link-body > div > div > div:nth-child(2) > div.col-xs-9{width:100%}
}
@media (max-width: 380px){
#s2 > div > div > div > div.logo-s2.col-md-2.col-sm-2.col-xs-6.w100 > img , .mw2a{max-width:100%;}
}
@media screen and (min-width:991px){
.col-md-3 {   width: 100%}
}
@media screen and (min-width:1101px){
.col-md-3{width:25%;}
}
.woocommerce a.button.alt {
background-color: #00f0ff !important;
height: 73px;
font-family: Roboto;
color: #0a213d !important;
font-size: 33.73px;
font-weight: 700;
line-height: 30px;
text-align: center;
transform: scaleX(1.0066);
width: 320px;
}
.woocommerce input.button.alt  {
background-color: #00f0ff !important;
height: 73px;
font-family: Roboto;
color: #0a213d !important;
font-size: 33.73px;
font-weight: 700;
line-height: 30px;
text-align: center;
transform: scaleX(1.0066);
width: 320px;
}
.woocommerce input.button.alt:hover {opacity: 0.5;}
/*================= slimic style =================*/
.slider-img {
margin: auto;
}
#s1 button {
margin-bottom: 0px;
margin-top: 30px;
background-color: #fff;
color: #000;
width: 200px !important;
}
#s1 .price {
font-size: 28px;
font-weight: bold;
padding-bottom: 50px;
}
.bg5 {
margin-top: 1200px;
}
#s3 img {
	display: flex;
	justify-content: center;
	margin: auto;
}
.s3-p {
	font-size: 28px;
	margin-top: -25px !important;
	color: #ffc687;
	text-align: center;
	text-transform: uppercase;
}
.two-img {
	padding-top: 1000px;
}
.two-img .container {
	background: url(img/two-img-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.two-img h3 {
	text-align: center;
}
.text-bg img{
	display: flex;
	margin: 30px auto;
}
#s6 p {
font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding: 15px;
}
.s7-box {
	display: flex;
	justify-content: flex-end;
}
.s7-box p {
	font-weight: bold;
	font-size: 38px;
	line-height: 60px;
	padding-right: 20px;
}
.opinion-mark {
display: flex;
margin: auto;
padding-bottom: 50px;
}
#s7 {
margin-bottom: 100px;
}
#s7 .opinie:last-child {
border-bottom: none;
}
@media (min-width: 768px) {
.navbar-collapse.collapse {
display: flex !important;
justify-content: flex-end;
}
}
@media (max-width: 1024px) {
	.two-img img {
		display: flex;
		margin: auto;
	}
}
@media (max-width: 768px) {
	.two-img {
padding-top: 0px;
padding-bottom: 500px;
	}
	.bg3 {
		height: 700px;
	}
}
@media (max-width: 576px) {
	#s8 .caption1 {
		line-height: 40px;
	}
}